.navbar-platy {
  background-color: orange;
}

.navbar-link {
  color:white;
}

.navbar-link > a {
  background-color: yellow;
}

img {
  border: 4px gray solid;

}

.thumbnails {
  text-align: center;
}
